body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e0e0e;
    color: #eaeaea;
    line-height: 1.6;
}
header{
    background-color: #111;
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid #8b0000;
}
#name{
    display: flex;
    justify-content: center;
}
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        margin: 0 15px;
    }
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
    nav ul li a:hover {
        text-decoration: underline;
    }
#title{
    font-size: 20px;
}
#paragraph{
    font-size: 16px;
}
.img{
    display: block;
    width: 500px;
    height: 300px;
}
footer{
    background-color: #111;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #aaa;
    border-top: 2px solid #8b0000;
}
article {
    background-color: #161616;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(164, 38, 38, 0.6);
}
article h2{
    color: #ff4d4d;
}
main {
    max-width: 1700px;
    margin: 40px auto;
    padding: 0 20px;
}